*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #722F37;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
    gap: 35px;
}

li{
    list-style: none; 
}

a{
    color:#EFDFBB;
    font-size: 46px;
    font-style: bold;
    text-decoration: none;
}

main{
    background-color: #EFDFBB;
    height: auto;
    padding-bottom: 50px;
}

img {
    width: 450px;
    height: 540px;
    border: solid;
    border-color: #722F37;
    border-radius: 15px;
}

#showcase {
    display: flex;
    justify-content: center;
    gap: 120px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#slogan {
    text-align: center;
    height: 90px;
    font-size: 60px;
    color: #EFDFBB;
}

#slogan_box {
    background-color: #722F37;
    margin: auto 100px;
    border-radius: 15px;
}

#section_title {
    text-align: center;
    font-size: 40px;
    color: #EFDFBB;
}

#section_box {
    background-color: #722F37;
    width: 470px;   
    height: 105px;
    padding: 30px;
    margin-top: 3%;
    margin-left: 3%;
    border-radius: 15px;
}

#tour_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    gap: 20px;
}

table {
    width: 100%;
    padding: 5%;
}

td {
    border: 1px solid #722F37;
    color: #EFDFBB;
    background-color: #722F37;
    padding: 15px;
    font-size: 46px;
}

table img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

p {
    width: 800px;
    font-size: 46px;
}

video {
    width: 800px;
}

footer{
    background-color: #722F37;
    height: 490px;
    display: flex;
    padding: 90px 70px;
    gap: 60px;
}

footer h2{
    font-size: 40px;
    font-weight: 600;
    color: #EFDFBB;

    margin-bottom: 40px;
}

footer p{
    color: #EFDFBB;
    font-size: 26px;
    font-weight: 400;
}

.footer-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.footer-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 4px;
}

.footer-right ul{
    display: flex;
    flex-direction: column;
    width: 564px;
}

.footer-right a{
    color: #EFDFBB;
    font-size: 30px;
    font-weight: 700;
}

.footer-right li{
   display: flex;
   flex-direction: row;
   align-items: center;
}

footer img{
    width: 43px;
    height: 43px;
}


1