h1 {
    color: linear-gradient(160deg, #460a0a 0%, #722F37 50%, #4d0808 100%);
    font-style: bold;
    align-content: center;
    font-size: 64px;
    padding: 35px;
    text-align: center;
    animation: show 6s 1 ease-in;
}

h2 {
    color: #EFDFBB;
    font-size: 32px;
}

h3 {
    color: #EFDFBB;
    font-size: 25px
}

.div-owners {
    color: #EFDFBB;  
    padding: 50px;
    background: linear-gradient(160deg, #460a0a 0%, #722F37 50%, #4d0808 100%);
    text-align: center;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    margin: 50px;
    max-width: 1200px; 
    padding: 20px;
}

.div-allOwners{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.div-owners img {
    padding: 20px;
}

.div-aboutOwners{
    color: #EFDFBB;  
    padding: 50px;
    background: linear-gradient(160deg, #460a0a 0%, #722F37 50%, #4d0808 100%);
    width: 1000px;
    height: 450px;
    border-radius: 10px;
    margin: 10px;
    animation: slide ease-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.div-allEmployees{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.div-employees img{
    margin: 50px;
    padding: 30px;
}

.div-employees{
    background: linear-gradient(160deg, #460a0a 0%, #722F37 50%, #4d0808 100%);
    width: 1100px;
    height: 800px;
    border-radius: 10px;
    margin: 5px;
}

.div-aboutEmployees{
    color: #EFDFBB;  
    padding: 50px;
    background: linear-gradient(160deg, #460a0a 0%, #722F37 50%, #4d0808 100%);
    width: 1000px;
    height: 450x;
    border-radius: 10px;
    margin: 100px;
}