img {
    width: 450px;
    height: 540px;
    border: solid;
    border-color: #722F37;
    border-radius: 15px;
}

.slideAnimation {
    animation: slide 3s 1 ease-out;
}

@keyframes slide {
    0% {
        transform: translate(var(--slide-x, 0), var(--slide-y, 0));
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#showcase {
    display: flex;
    justify-content: center;
    gap: 120px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#slogan {
    text-align: center;
    height: 90px;
    font-size: 60px;
    color: #EFDFBB;
}

#slogan_box {
    background: linear-gradient(120deg, #722F37 0%, #4d0808 100%);
    margin: auto 100px;
    border-radius: 15px;
}

#section_title {
    text-align: center;
    font-size: 40px;
    color: #EFDFBB;
}

#section_box {
    background: linear-gradient(120deg, #722F37 0%, #4d0808 100%);
    width: 470px;   
    height: 105px;
    padding: 30px;
    margin-top: 3%;
    margin-left: 3%;
    border-radius: 15px;
}

#tour_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    gap: 20px;
}

table {
    width: 100%;
    padding: 5%;
}

td {
    border: 1px solid #722F37;
    color: #EFDFBB;
    background: linear-gradient(120deg, #722F37 0%, #4d0808 100%);
    border: black 3px solid;
    padding: 15px;
    font-size: 46px;
}

table img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

p {
    width: 800px;
    font-size: 46px;
    color: #3b181c;
    animation: slide ease-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

video {
    width: 800px;
    border-radius: 10px;
    border: 6px solid #722F37;
    animation: slide ease-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

video:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,1.5);
}