* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #722F37;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 35px;
}


a {
    color: #EFDFBB;
    font-size: 46px;
    font-style: bold;
    text-decoration: none;
}

main {
    background-color: #EFDFBB;
    height: auto;
}

h1 {
    align-items: center;
    justify-content: center;
    color: #722F37;
    font-size: 64px;
    padding: 35px;
}

#recipeOne {
    display: flex;
    flex-direction: row;
}

img {
    padding: 30px;
    background-color: #722F37;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    margin: 50px;
}

h2 {
    padding: 10px;
    font-size: 32px;
    margin: 10px;
}

ul {
    padding: 100px;
    margin: 10px;
    font-size: 32px;
    display: contents;
    flex-direction: column;
}

ol {
    list-style-type: decimal;
    padding: 30px;
    margin: 10px;
    font-size: 32px;
    padding-bottom: 30px;
}

#recipeTwo {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;

}

.div-rightTwo {
    align-items: center;
}