h1 {
    color: #722F37;
    font-style: bold;
    align-content: center;
    font-size: 64px;
    padding: 35px;
    text-align: center;
}

h2 {
    color: #EFDFBB;
    font-size: 32px
}

h3 {
    color: #EFDFBB;
    font-size: 25px
}

.div-owners {
    color: #EFDFBB;  
    padding: 50px;
    background-color: #722F37;
    text-align: center;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    margin: 50px;
    max-width: 1200px; 
    padding: 20px;
}

.div-allOwners{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.div-owners img {
    padding: 20px;
}

.div-aboutOwners{
    color: #EFDFBB;  
    padding: 50px;
    background-color: #722F37;
    width: 1000px;
    height: 450px;
    border-radius: 10px;
    margin: 10px;
}

.div-allEmployees{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.div-employees img{
    margin: 50px;
    padding: 30px;
}

.div-employees{
    background-color: #722F37;
    width: 1100px;
    height: 800px;
    border-radius: 10px;
    margin: 5px;
}

.div-aboutEmployees{
    color: #EFDFBB;  
    padding: 50px;
    background-color: #722F37;
    width: 1000px;
    height: 450x;
    border-radius: 10px;
    margin: 100px;
}